# Entornos / cachés / sistema
.venv/
.venv311/
__pycache__/
.DS_Store

# Shapefiles fuente (pesados) - solo versionamos el GeoJSON final
data/shp_seccion/

# Backups accidentales
*.save

# Secretos locales de Streamlit (si existiera)
.streamlit/secrets.toml

# (Opcional) descomenta si NO quieres versionar el modelo entrenado
# data/model.joblib
